linkgit {
    font-size: 28px;
    color: darkred;
  }

  mainheader
{
    font-size: 28px;
}
h4
{
  font-family: Consolas;
  color: #c9d1d9;
}

h1
{
  font-family: Consolas;
  color: #c9d1d9;
}
a
{
  font-family: Consolas;
}